html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #444;
  background-color: #FCFAF8;
  text-align: center;
}

.container {
  width: 600px;
  margin: 50px auto;
}

#tinge div {
  float: left;
  border: 1px solid #444;
}

.gameover {
  display: none;
  color: white;
  position: absolute;
  width: 600px;
  padding: 280px 0 0 0;
  margin: 0;
}

.youwin {
  display: none;
  color: white;
  position: absolute;
  width: 600px;
  padding: 280px 0 0 0;
  margin: 0;
}

h1 {
  font-size: 62px;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
}

.score {
  clear: both;
}

a {
  color: #444;
  font-family: 'Amatic SC', cursive;
  text-decoration: none;
  font-size: 24px;
}
